<style media="screen">
  li {
    height : 120px;
    width: 100px;
    color: white;
    background-color: brown;
    margin-bottom: 30px;
  }
</style>

<h1>Burgers</h1>

<ul>
{{#each burgers }}
  <li><p>Name: </p>{{burger_name}}</li>
  <button id='submit'>devour</button>
{{/each}}
</ul>
